.del {
    color: red;
}

.titulo {
    text-align: center;
}

.desc {
    text-align: justify;
}

.cat {
    color: red;
}

.gen {
    color: black;
}

// estrutura

#img{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTscEsy_7MJdjJlbtw6P2ZqcsCHH_Y-AecUBfsEOCZ5rxGjIDAc");
    
}

form{
    background-color: rgba(0, 0, 0, 0.678);
    padding: 5% ;
    margin-top: 50%;
  }