<ion-header>
    <ion-navbar color="primary">
      <ion-title>{{ title }}</ion-title>
    </ion-navbar>
  </ion-header>
   
  <ion-content padding>
    <form [formGroup]="form">
      <ion-item>
        <ion-label stacked>Titulo</ion-label>
        <ion-input type="text" formControlName="titulo"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.titulo.valid && (form.controls.titulo.dirty || form.controls.titulo.touched)" color="danger">
        <div [hidden]="!form.controls.titulo.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>
   
      <ion-item>
          <ion-label stacked>Link da capa</ion-label>
          <ion-input type="text" formControlName="titulo"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.titulo.valid && (form.controls.titulo.dirty || form.controls.titulo.touched)" color="danger">
          <div [hidden]="!form.controls.titulo.errors.required">
            O campo é obrigatório
          </div>
        </ion-item>
   
      <div padding>
        <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
      </div>
    </form>
  </ion-content>